<%- include("../partials/header.ejs") %><!-- HERO -->

<!-- MAIN -->

<main id="register" class="container">
    <div class="register__header">
        <h2 class="register__title">DEJANOS TU COMENTARIO</h2>
        <p class="register__subtitle">Envianos tus dudas y sugerencias</p>
    </div>
    <form class="register__form" action="/contact" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form__box--grid">
            <label class="form__label" for="name">Nombre:</label>
            <input class="form__input" type="text" name="name" id="name" placeholder="nombre" required>
        </div>
        <div class="form__box--grid">
            <label class="form__label" for="lastname">Apellido:</label>
            <input class="form__input" type="text" name="lastname" id="lastname" placeholder="apellido" required>
        </div>
        <div class="form__box--grid">
            <label class="form__label" for="email">Email:</label>
            <input class="form__input" type="email" name="email" id="email" placeholder="johndoe@email.com" required>
        </div>
        <div class="form__box--grid">
            <label class="form__label" for="email">Mensaje:</label>
            <input type="text" id="miCuadroDeTexto" name="miCuadroDeTexto" placeholder="Deja tu mensaje..." required>
        </div>
        <div class="form__submission">
            <input class="form__btn btn btn--primary btn--large" type="submit" value="Enviar">
        </div>
    </form>
  </main>

<!-- FOOTER -->
<%- include("../partials/footer.ejs") %>